.create-csv {
  animation: slide-left 500ms ease-out;
}

@keyframes slide-left {
  from {
    opacity: 0;
    transform: translateX(600px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.done-csv {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 500ms ease-out, transform 500ms ease-out;
}