<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="p-6">
  <!-- Header -->
  <div class="flex justify-between items-center border-b pb-3 mb-4">
    <h2 class="text-lg font-semibold text-gray-900 ">Reset Password</h2>
    <button type="button" mat-dialog-close class="text-gray-400 hover:text-gray-900 ">
      ✕
    </button>
  </div>

  <!-- Body -->
  <div class="pb-4">
    <div *ngFor="let rule of rules" class="flex items-center mb-2">
      <div class="relative w-6 h-6 flex items-center justify-center">
        <!-- Background Circle -->
        <div class="w-4 h-4 bg-gray-200 rounded-full  transition-opacity"
          [class.opacity-100]="!ruleStatus[rule.key]" [class.opacity-0]="ruleStatus[rule.key]"></div>

        <!-- Check Icon -->
        <svg class="absolute inset-0 h-6 w-6 transition-opacity" [class.opacity-100]="ruleStatus[rule.key]"
          [class.opacity-0]="!ruleStatus[rule.key]" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M5 11.917 9.724 16.5 19 7.5" />
        </svg>
      </div>

      <p class="ml-2 text-sm transition-colors" [class.text-gray-400]="ruleStatus[rule.key]"
        [class.text-gray-800]="!ruleStatus[rule.key]">
        {{ rule.label }}
      </p>
    </div>
    <div class="flex items-center mb-2">
      <svg class="w-6 h-6 text-gray-800 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
        width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
      </svg>

      <p class="ml-2 text-sm transition-colors">
        Password cannot be identical to the previous ten (10) passwords.
      </p>
    </div>

  </div>
  <div class="space-y-4">
    <div *ngIf="data.fromLogin">
      <label for="email" class="block mb-2 text-sm font-medium text-gray-900 ">Your
        username</label>
      <input type="email" name="email" id="email" formControlName="username"
        [class.border-red-500]="resetPasswordForm.controls['username'].touched && resetPasswordForm.controls['username'].invalid"
        class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5"
        placeholder="Username">
      <p *ngIf="resetPasswordForm.get('username')?.hasError('required') && resetPasswordForm.get('username')?.touched"
        class="mt-2 text-sm text-red-600">
        Please enter your username
      </p>
    </div>
    <div>
      <label for="name" class="block mb-2 text-sm font-medium text-gray-900 ">
        New Password
      </label>
      <input id="name" type="password" formControlName="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
               focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Enter New Password" required />
      <p *ngIf="resetPasswordForm.get('password')?.hasError('required') && resetPasswordForm.get('password')?.touched"
        class="mt-2 text-sm text-red-600">
        New Password is required
      </p>
    </div>
  </div>

  <!-- Footer -->
  <div class="flex justify-end gap-2 mt-6">
    <button type="button" (click)="onCancel()" class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-300 
             rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:ring-4 focus:outline-none
             focus:ring-blue-300">
      Cancel
    </button>

    <button type="submit" [disabled]="resetPasswordForm.invalid" class="px-4 py-2 text-sm font-medium text-white bg-blue-600 rounded-lg
             hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300
             disabled:opacity-50 disabled:cursor-not-allowed">
      Reset
    </button>
  </div>
</form>