table {
  width: 100%;
}

.mat-mdc-table {
  background-color: #fff;
  border: none;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.mat-mdc-paginator {
    background-color: #fff;
}

    :root {
      --custom-border-color: #ff00ff; /* Magenta */
    }

    .mat-row {
      border-bottom-color: var(--custom-border-color) !important;
    }