
.number-icon {
  animation: bounce 1.2s cubic-bezier(.18,.89,.32,1.28) infinite;
}

.enter-animation {
  animation: slide-fade 1s ease-out;
}

@keyframes slide-fade {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.done-csv {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 500ms ease-out, transform 500ms ease-out;
}