.carousel-container {
  width: 600px;
}

.main-img {
  width: 100%;
  border-radius: 8px;
}

.thumb-img {
  height: 80px;
  object-fit: cover;
  border-radius: 6px;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s, border 0.3s;
}

.thumb-container::-webkit-scrollbar {
  display: none;
}

.thumb-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.enter-animation {
  animation: slide-fade 1s ease-out;
}

@keyframes slide-fade {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}