<div class="all-pages rounded-lg dark:border-gray-700 mt-14">

  <div class="grid mb-4">
    <div class="bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
      <div class="p-5 flex justify-between">
        <div class="flex gap-8">
          <div class="flex items-center">
            <div class="bg-gray-200 h-12 w-12 flex justify-center items-center rounded-full mr-4">
              <svg class="w-6 h-6 text-gray-500 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                <path fill-rule="evenodd"
                  d="M5 5a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1h1a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1h1a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1 2 2 0 0 1 2 2v1a1 1 0 0 1-1 
                  1H4a1 1 0 0 1-1-1V7a2 2 0 0 1 2-2ZM3 19v-7a1 1 0 0 1 1-1h16a1 1 0 0 1 1 1v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2Zm6.01-6a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm2 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0Zm6 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm-10 4a1 1 0 1 1 2 0 1 1 0 0 1-2 0Zm6 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm2 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0Z"
                  clip-rule="evenodd" />
              </svg>
            </div>
            <div>
              <a>
                <h3 class="text-lg text-gray-900 dark:text-white">Title Date
                </h3>
              </a>
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">2014-10-30
              </h5>
            </div>
          </div>
          <div class="flex items-center">
            <div class="bg-gray-200 h-12 w-12 flex justify-center items-center rounded-full mr-4">
              <svg class="w-6 h-6 text-gray-500 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                <path fill-rule="evenodd"
                  d="M5 5a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1h1a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1h1a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1 2 2 0 0 1 2 2v1a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V7a2 2 0 0 1 2-2ZM3 19v-7a1 1 0 0 1 1-1h16a1 1 0 0 1 1 1v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2Zm6.01-6a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm2 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0Zm6 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm-10 4a1 1 0 1 1 2 0 1 1 0 0 1-2 0Zm6 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm2 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0Z"
                  clip-rule="evenodd" />
              </svg>
            </div>
            <div>
              <a>
                <h3 class="text-lg text-gray-900 dark:text-white">Title State
                </h3>
              </a>
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">NE
              </h5>
            </div>
          </div>
          <div class="flex items-center">
            <div class="bg-gray-200 h-12 w-12 flex justify-center items-center rounded-full mr-4">
              <svg class="w-6 h-6 text-gray-500 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                <path fill-rule="evenodd"
                  d="M5 5a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1h1a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1h1a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1 2 2 0 0 1 2 2v1a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V7a2 2 0 0 1 2-2ZM3 19v-7a1 1 0 0 1 1-1h16a1 1 0 0 1 1 1v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2Zm6.01-6a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm2 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0Zm6 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm-10 4a1 1 0 1 1 2 0 1 1 0 0 1-2 0Zm6 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm2 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0Z"
                  clip-rule="evenodd" />
              </svg>
            </div>
            <div>
              <a>
                <h3 class="text-lg text-gray-900 dark:text-white">Odometer
                </h3>
              </a>
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">112
              </h5>
            </div>
          </div>
          <div class="flex items-center">
            <div class="bg-gray-200 h-12 w-12 flex justify-center items-center rounded-full mr-4">
              <svg class="w-6 h-6 text-gray-500 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                <path fill-rule="evenodd"
                  d="M5 5a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1h1a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1h1a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1 2 2 0 0 1 2 2v1a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V7a2 2 0 0 1 2-2ZM3 19v-7a1 1 0 0 1 1-1h16a1 1 0 0 1 1 1v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2Zm6.01-6a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm2 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0Zm6 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm-10 4a1 1 0 1 1 2 0 1 1 0 0 1-2 0Zm6 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm2 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0Z"
                  clip-rule="evenodd" />
              </svg>
            </div>
            <div>
              <a>
                <h3 class="text-lg text-gray-900 dark:text-white">VIN
                </h3>
              </a>
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">1C4HJWEG7FL555575
              </h5>
            </div>
          </div>
        </div>
        <div class="flex sm:gap-4 sm:items-center sm:flex">
          <a title=""
            class="text-white mt-4 sm:mt-0 bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800 flex items-center justify-center"
            role="button">
            <svg class="w-5 h-5 -ms-2 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
              fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M4 4h1.5L8 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm.75-3H7.5M11 7H6.312M17 4v6m-3-3h6" />
            </svg>

            Title History
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="single">
    <section *ngIf="carInfo$ | async as car"
      class="p-6 bg-white dark:bg-gray-900 antialiase border border-gray-200 rounded-lg shadow-sm mb-4">
      <div class=" mx-auto">
        <div class="lg:grid lg:grid-cols-2 lg:gap-6 xl:gap-8">
          <div class="shrink-0 mx-auto">
            <div class="grid gap-4" *ngIf="images.length > 0">
              <!-- Main Image -->
              <div class="relative">
                <div class="relative h-96 overflow-hidden rounded-lg">
                  <img *ngFor="let img of images; let i = index" [src]="img"
                    class="absolute inset-0 w-full h-full object-cover transition-opacity duration-500 ease-in-out"
                    [class.opacity-100]="currentIndex === i" [class.opacity-0]="currentIndex !== i" />
                </div>

                <!-- Prev Button -->
                <button (click)="prev()"
                  class="absolute left-2 top-0 bottom-0 m-auto h-12 w-12 flex items-center justify-center rounded-full shadow duration-200 ease-in-out bg-white/40 hover:bg-gray-300">
                  <svg class="w-8 h-8 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                    height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="m15 19-7-7 7-7" />
                  </svg>
                </button>

                <!-- Next Button -->
                <button (click)="next()"
                  class="absolute right-2 top-0 bottom-0 m-auto h-12 w-12 flex items-center justify-center rounded-full shadow duration-200 ease-in-out bg-white/40 hover:bg-gray-300">
                  <svg class="w-8 h-8 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                    height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="m9 5 7 7-7 7" />
                  </svg>
                </button>
              </div>

              <div class="relative">
                <!-- Thumbnails -->
                <button
                  class="absolute left-2 top-0 bottom-0 m-auto h-8 w-8 flex items-center justify-center transition-colors duration-200 ease-in-out bg-white/40 hover:bg-gray-300 rounded-full p-2 shadow"
                  (click)="thumbsContainer.scrollBy({ left: -150, behavior: 'smooth' })">
                  <svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                    height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="m15 19-7-7 7-7" />
                  </svg>
                </button>
                <div #thumbsContainer class="flex gap-4 overflow-x-auto snap-x snap-mandatory">
                  <div *ngFor="let img of images; let i = index" (click)="setCurrent(i)"
                    class="flex-shrink-0 snap-center rounded-lg cursor-pointer focus:ring-2 focus:ring-blue-600 hover:ring-2 hover:ring-gray-300 my-2"
                    [class.ring-2]="currentIndex === i" [class.ring-blue-600]="currentIndex === i">
                    <img class="h-32 w-32 object-cover rounded-lg" [src]="img" alt="Thumbnail" />
                  </div>
                </div>
                <button
                  class="absolute right-2 top-0 bottom-0 m-auto h-8 w-8 flex items-center justify-center transition-colors duration-200 ease-in-out bg-white/40 hover:bg-gray-300 rounded-full p-2 shadow"
                  (click)="thumbsContainer.scrollBy({ left: 150, behavior: 'smooth' })">
                  <svg class="w-4 h-4 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                    height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="m9 5 7 7-7 7" />
                  </svg>
                </button>
              </div>
            </div>

          </div>

          <div class="mt-6 sm:mt-8 lg:mt-0">
            <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white">
              {{ car?.year }}
              {{ car?.make }}
              {{ car?.model }}
            </h1>
            <h2 *ngIf="carPlate$ | async as plate" class="mb-2 text-xl font-bold text-gray-900 dark:text-white">{{
              plate.entities.vehicles.automobiles[0].license_plate }}
            </h2>

            <p class="mt-4 text-base font-normal text-gray-500 sm:text-xl dark:text-gray-400">
              {{ car?.category }}
            </p>
            <div class="mt-4 sm:items-center sm:gap-4 sm:flex">
              <p class="text-2xl font-extrabold text-gray-900 sm:text-3xl dark:text-white">
                {{ car?.prices?.msrp | currency}}
              </p>
              <p class="text-sm font-medium leading-none text-gray-500 dark:text-gray-400">
                MRSP
              </p>
            </div>

            <div class="mt-6 sm:gap-4 sm:items-center sm:flex sm:mt-8">
              <a title=""
                class="flex items-center justify-center py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
                role="button">
                <svg class="w-5 h-5 -ms-2 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                  height="24" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z" />
                </svg>
                Save
              </a>

              <!-- <a title=""
                class="text-white mt-4 sm:mt-0 bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800 flex items-center justify-center"
                role="button">
                <svg class="w-5 h-5 -ms-2 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                  height="24" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M4 4h1.5L8 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm.75-3H7.5M11 7H6.312M17 4v6m-3-3h6" />
                </svg>

                Add to cart
              </a> -->
            </div>

            <hr class="my-6 md:my-8 border-gray-200 dark:border-gray-800" />

            <p class="mb-6 text-gray-500 dark:text-gray-400">
              Lorem ipsum dolor sit amet, consectetur adipiscing
              elit. Donec volutpat est eu tincidunt condimentum. Phasellus non quam sed ligula iaculis maximus vel ut
              dui.
              Donec vitae ipsum ac leo blandit ultricies eu finibus est
            </p>

            <p class="text-gray-500 dark:text-gray-400">
              Lorem ipsum dolor sit amet, consectetur adipiscing
              elit. Donec volutpat est eu tincidunt condimentum. Phasellus non quam sed ligula iaculis maximus vel ut
              dui.
              Donec vitae ipsum ac leo blandit ultricies eu finibus est
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>



  <div class="grid grid-cols-4 gap-4 mb-4">
    <div class="bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
      <div class="p-5">
        <a>
          <h3 class="text-lg text-gray-900 dark:text-white">Title Date
          </h3>
        </a>
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">2014-10-30
        </h5>
      </div>
    </div>
    <div class="bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
      <div class="p-5">
        <a>
          <h3 class="text-lg text-gray-900 dark:text-white">Title State
          </h3>
        </a>
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">NE
        </h5>
      </div>
    </div>
    <div class="bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
      <div class="p-5">
        <a>
          <h3 class="text-lg text-gray-900 dark:text-white">Odometer
          </h3>
        </a>
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">112
        </h5>
      </div>
    </div>
    <div class="bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
      <div class="p-5">
        <a>
          <h3 class="text-lg text-gray-900 dark:text-white">VIN
          </h3>
        </a>
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">1C4HJWEG7FL555575
        </h5>
      </div>
    </div>
  </div>


  <div class="grid grid-cols-3 gap-4 mb-4">
    <div class="bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
      <div class="p-5">
        <a>
          <h5 class="mb-6 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Insurance Policy Details
          </h5>
        </a>
        <hr class="mb-6 border-gray-200 dark:border-gray-800" />

        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing
          elit. Donec volutpat est eu tincidunt condimentum. Phasellus non quam sed ligula iaculis maximus vel ut dui.
          Donec vitae ipsum ac leo blandit ultricies eu finibus est.</p>
      </div>
    </div>
    <div class="bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
      <div class="p-5">
        <a>
          <h5 class="mb-6 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Vehicle Garage Details
          </h5>
        </a>
        <hr class="mb-6 border-gray-200 dark:border-gray-800" />

        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing
          elit. Donec volutpat est eu tincidunt condimentum. Phasellus non quam sed ligula iaculis maximus vel ut dui.
          Donec vitae ipsum ac leo blandit ultricies eu finibus est</p>
      </div>
    </div>
    <div class="bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
      <div class="p-5">
        <a>
          <h5 class="mb-6 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Policy Holder Details
          </h5>
        </a>
        <hr class="mb-6 border-gray-200 dark:border-gray-800" />

        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing
          elit. Donec volutpat est eu tincidunt condimentum. Phasellus non quam sed ligula iaculis maximus vel ut dui.
          Donec vitae ipsum ac leo blandit ultricies eu finibus est</p>
      </div>
    </div>
  </div>

  <div class="grid mb-4">
    <div class="bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
      <div class="p-5">
        <a>
          <h5 class="mb-6 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Title History
          </h5>
        </a>
        <hr class="mb-6 border-gray-200 dark:border-gray-800" />

        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing
          elit. Donec volutpat est eu tincidunt condimentum. Phasellus non quam sed ligula iaculis maximus vel ut dui.
          Donec vitae ipsum ac leo blandit ultricies eu finibus est.</p>
      </div>
    </div>
  </div>

  <div class="grid mb-4">
    <div class="bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
      <div class="p-5">
        <a>
          <h5 class="mb-6 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Sales History
          </h5>
        </a>
        <hr class="mb-6 border-gray-200 dark:border-gray-800" />

        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing
          elit. Donec volutpat est eu tincidunt condimentum. Phasellus non quam sed ligula iaculis maximus vel ut dui.
          Donec vitae ipsum ac leo blandit ultricies eu finibus est</p>
      </div>
    </div>
  </div>

  <div class="single">
    <app-car-report-notes></app-car-report-notes>
  </div>
</div>

<div data-dial-init class="fixed end-6 bottom-6 group">
  <div id="speed-dial-menu-text-outside-button" class="flex flex-col items-center hidden mb-4 space-y-2">
    <button type="button"
      class="relative w-[52px] h-[52px] text-gray-500 bg-white rounded-lg border border-gray-200 hover:text-gray-900 dark:border-gray-600 shadow-xs dark:hover:text-white dark:text-gray-400 hover:bg-gray-50 dark:bg-gray-700 dark:hover:bg-gray-600 focus:ring-4 focus:ring-gray-300 focus:outline-none dark:focus:ring-gray-400">
      <svg class="w-5 h-5 mx-auto" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
        viewBox="0 0 18 18">
        <path
          d="M14.419 10.581a3.564 3.564 0 0 0-2.574 1.1l-4.756-2.49a3.54 3.54 0 0 0 .072-.71 3.55 3.55 0 0 0-.043-.428L11.67 6.1a3.56 3.56 0 1 0-.831-2.265c.006.143.02.286.043.428L6.33 6.218a3.573 3.573 0 1 0-.175 4.743l4.756 2.491a3.58 3.58 0 1 0 3.508-2.871Z" />
      </svg>
      <span class="absolute block mb-px text-sm font-medium -translate-y-1/2 -start-14 top-1/2">Share</span>
    </button>
    <button type="button" (click)="printPdf()"
      class="relative w-[52px] h-[52px] text-gray-500 bg-white rounded-lg border border-gray-200 dark:border-gray-600 hover:text-gray-900 shadow-xs dark:hover:text-white dark:text-gray-400 hover:bg-gray-50 dark:bg-gray-700 dark:hover:bg-gray-600 focus:ring-4 focus:ring-gray-300 focus:outline-none dark:focus:ring-gray-400">
      <svg class="w-5 h-5 mx-auto" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
        viewBox="0 0 20 20">
        <path d="M5 20h10a1 1 0 0 0 1-1v-5H4v5a1 1 0 0 0 1 1Z" />
        <path
          d="M18 7H2a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2v-3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2Zm-1-2V2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v3h14Z" />
      </svg>
      <span class="absolute block mb-px text-sm font-medium -translate-y-1/2 -start-14 top-1/2">Print</span>
    </button>
    <button type="button"
      class="relative w-[52px] h-[52px] text-gray-500 bg-white rounded-lg border border-gray-200 dark:border-gray-600 hover:text-gray-900 shadow-xs dark:hover:text-white dark:text-gray-400 hover:bg-gray-50 dark:bg-gray-700 dark:hover:bg-gray-600 focus:ring-4 focus:ring-gray-300 focus:outline-none dark:focus:ring-gray-400">
      <svg class="w-5 h-5 mx-auto" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
        viewBox="0 0 20 20">
        <path
          d="M14.707 7.793a1 1 0 0 0-1.414 0L11 10.086V1.5a1 1 0 0 0-2 0v8.586L6.707 7.793a1 1 0 1 0-1.414 1.414l4 4a1 1 0 0 0 1.416 0l4-4a1 1 0 0 0-.002-1.414Z" />
        <path
          d="M18 12h-2.55l-2.975 2.975a3.5 3.5 0 0 1-4.95 0L4.55 12H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2Zm-3 5a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z" />
      </svg>
      <span class="absolute block mb-px text-sm font-medium -translate-y-1/2 -start-14 top-1/2">Save</span>
    </button>
    <button type="button"
      class="relative w-[52px] h-[52px] text-gray-500 bg-white rounded-lg border border-gray-200 dark:border-gray-600 hover:text-gray-900 shadow-xs dark:hover:text-white dark:text-gray-400 hover:bg-gray-50 dark:bg-gray-700 dark:hover:bg-gray-600 focus:ring-4 focus:ring-gray-300 focus:outline-none dark:focus:ring-gray-400">
      <svg class="w-5 h-5 mx-auto" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
        viewBox="0 0 18 20">
        <path
          d="M5 9V4.13a2.96 2.96 0 0 0-1.293.749L.879 7.707A2.96 2.96 0 0 0 .13 9H5Zm11.066-9H9.829a2.98 2.98 0 0 0-2.122.879L7 1.584A.987.987 0 0 0 6.766 2h4.3A3.972 3.972 0 0 1 15 6v10h1.066A1.97 1.97 0 0 0 18 14V2a1.97 1.97 0 0 0-1.934-2Z" />
        <path
          d="M11.066 4H7v5a2 2 0 0 1-2 2H0v7a1.969 1.969 0 0 0 1.933 2h9.133A1.97 1.97 0 0 0 13 18V6a1.97 1.97 0 0 0-1.934-2Z" />
      </svg>
      <span class="absolute block mb-px text-sm font-medium -translate-y-1/2 -start-14 top-1/2">Copy</span>
    </button>
  </div>
  <button type="button" data-dial-toggle="speed-dial-menu-text-outside-button"
    aria-controls="speed-dial-menu-text-outside-button" aria-expanded="false"
    class="flex items-center justify-center text-white bg-blue-700 rounded-lg w-14 h-14 hover:bg-blue-800 dark:bg-blue-600 dark:hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 focus:outline-none dark:focus:ring-blue-800">
    <svg class="w-5 h-5 transition-transform group-hover:rotate-45" aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16" />
    </svg>
    <span class="sr-only">Open actions menu</span>
  </button>
</div>