.carousel-container {
  width: 600px;
}

.main-img {
  width: 100%;
  border-radius: 8px;
}

.thumb-img {
  height: 80px;
  object-fit: cover;
  border-radius: 6px;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s, border 0.3s;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.thumb-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge */
.thumb-container {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}